a {
	text-decoration:none;
	color: #A9A9A9;
	font-family: Sans-Serif;
	font-size:15px;
	padding-left:12px;
	padding-right:12px;
}


footer {
    padding: 1em;
    color: #A9A9A9;
    font-family: Sans-Serif;
    text-align: center;
    margin-top: 50px;
    margin-left: 625px;
    margin-right: 625px;
}

#CopyRight {
	color: #A9A9A9;
	font-family: Sans-Serif;
	text-align: center;
	margin top: 50px;
	margin-Left: 625px;
	margin-right: 625px
	font-size: 10px
		
}


h1 {
	color:black;
	font-family:Sans-Serif; 
}

h2 {
	color:black;
	font-family:Sans-Serif;
}

#body {
    margin-top: 50px;
}

/* for Slideshow  */
.slider {
    width: 850px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(images/blueloadergif.gif);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#show img, iframe {
    display: none;
}

#LeftArrow, #RightArrow {
    width: 85px;
    height: 85px;
    position: absolute;
    z-index: 1;
    top:50%;
}

#LeftArrow {
    left: 0px;
}

#RightArrow {
    right: 0px;
}

#LeftArrow:hover, #RightArrow:hover {
    opacity: 0.8;
}


/** For social media div **/

#SocialMedia img {
    width: 25px;
    height: 25px;
}


/** For P tags **/

#Content_Copy {
	text-align: center;
	font-family: Sans-Serif;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 50px;
}

#Content_Form {
	text-align: center;
	font-family: Sans-Serif;
	margin-left: 650px;
	margin-right: 650px;
	margin-top: 50px;
}

#Content_Form2 {
	text-align: center;
	font-family: Sans-Serif;
	margin-left: 500px;
	margin-right: 500px;
}

/** Contact List ID **/


#Contact_ul ul li {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    padding: 5px;
    text-align: center;
    font-family: Sans-Serif;
}


/** Navigation Bar ID **/


#NavBar li {
    float:center;
    display: inline;
}


#NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    font-family: Sans-Serif;
    color: #A9A9A9; 
}

/** Artists Page**/

/** for the space in the pictures and border **/
.a {
	padding:0;
}

/** table sizing for the space between the shows**/
.table1{
	margin-top: 100px;
}

.table2{
	margin-top: 150px;
}

.table3{
	margin-top: 200px;
	margin-bottom: 50px;
}


/** for the hover over picture with name code **/
div.img {
	border: 1px solid #ccc;
    margin: 10px;
    float: left;
    width: 220px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
	width: auto;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
}
