



a {
	text-decoration:none;
	color:black;
	font-family:Arial;
	font-size:25px;
	padding-left:12px;
	padding-right:12px;
}


footer {
    padding: 1em;
    color:black;
	font-family:Arial;
    text-align: center;
    margin-top: 100px;
}


h1 {
	color:black;
	font-family:Arial;
}

h2 {
	color:black;
	font-family:Arial;
}

/** For social media div **/

#SocialMedia img {
    width: 25px;
    height: 25px;
}

/** For P tags **/

#Content_Copy {
	text-align: center;
	font-family:Arial;
	margin-left: 300px;
	margin-right: 300px;
}

#Content_Form {
	text-align: center;
	font-family:Arial;
	margin-left: 800px;
	margin-right: 800px;
}

/** Contact List ID **/


#Contact_ul ul li {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
    padding: 5px;
    text-align: center;
    font-family: Arial;
}


/** Navigation Bar ID **/


#NavBar li {
    float:center;
    display: inline;
}


#NavBar li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#NavBar li a:hover, .dropdown:hover .dropbtn {
    background-color:none;
}


#NavBar li.dropdown {
    display: inline-block;
}


#NavBar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#NavBar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#NavBar .dropdown-content a:hover {background-color: #f1f1f1}

#NavBar .dropdown:hover .dropdown-content {
    display: block;
}


#NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
}


